In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('/Users/manik/Documents/558_scouting_database/Untitled.csv', sep=';')
data.head()

,match_id,team_name,TypeGearIntake,TypeGearPlace,GearsPlaced,kpa,TypeDrivetrain,Climb,comments
0,1,558,hybrid,active,5,0,Tank,yes,good team
1,1,195,hybrid,active,5,0,Tank,yes,jsdgjdklgj
2,1,225,hybrid,active,5,0,Tank,yes,jsdgjdklgj